/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-event-core-blocks-testimonial {
    border: 1px solid #cbd5e0;
    padding: 20px;
    background: #ffffff;
}

/* Small hint for the editor */
.wp-block-event-core-blocks-testimonial::after {
    content: "Customer Testimonial Block";
    font-size: 10px;
    color: #94a3b8;
    display: block;
    margin-top: 10px;
}